@model LoginModel

<div class="container-fluid">
    <div class="row align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="bg-light rounded p-4 p-sm-5 mt-4 mx-3">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h3>Giriş Yap</h3>
                </div>
                <form asp-area="" asp-controller="Account" asp-action="Login" method="post">
                    <input type="hidden" asp-for="ReturnUrl" />
                    <div asp-validation-summary="All" class="text-danger"></div>
                        
                    <label class="form-label" asp-for="UserName"></label>   
                    <div class="form-floating mb-3">
                        <input class="form-control" asp-for="UserName">
                        <span class="text-danger" asp-validation-for="UserName"></span>
                    </div>
                    <label class="form-label" asp-for="Password"></label>
                    <div class="form-floating mb-4">

                        <input class="form-control" asp-for="Password">
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Beni Hatırla</label>
                        </div>
                        <a asp-area="" asp-controller="Account" asp-action="ForgotPassword">Şifremi Unuttum</a>
                    </div>
                    <button type="submit" class="btn btn-success py-3 w-100 mb-4">Giriş Yap</button>
                    <p class="text-center mb-0">Hesabınız Yok mu? <a asp-area="" asp-controller="Account" asp-action="CustomerRegister">Kayıt Ol</a></p>
                </form>
                
            </div>
        </div>
    </div>
</div>