  <!-- ======= Footer ======= -->
<footer id="footer" class="footer mt-5 ">
    <div class="footer-content position-relative">
        <div class="container ">
            <div class="row gap-4">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h4 class="fs-4">Ofisimiz</h4>
                        <p>
                            A108 Adam Street <br>
                            NY 535022, USA<br><br>
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> info@example.com<br>
                        </p>
                    </div>
                </div><!-- End footer info column-->


                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>SMN Danışmanlk</h4>
                    <ul>
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">AnaSayfa</a></li>
                        <li><a href="#">Hakkımızda</a></li>
                        <li><a asp-area="" asp-controller="Psychologist" asp-action="Index">Psikologlarımız</a></li>
                        <li><a asp-area="" asp-controller="Account" asp-action="Login">Giriş Yap</a></li>
                        <li><a asp-area="" asp-controller="Account" asp-action="CustomerRegister">Kayıt Ol</a></li>
                    </ul>
                </div><!-- End footer links column-->

                
                <div class="col-lg-3 col-md-6 ">
                    <h4>
                        Randevu nasıl alınır?

                    </h4>
                    <div>
                        Terapiya'ya üye olun. Sonra terapi almak istediğiniz danışmanınızdan randevu alarak, randevu gün ve saati geldiğinde terapinizi başlatın.
                    </div>
                    <div>
                        <div class="social-links d-flex mt-3">

                            <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>

                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-3 footer-links">
                    <h4>Ödeme Seçenekleri</h4>
                    <img src="~/image/odeme/iyzico_2.png" style="max-width:170px;" class="bg-white me-2" />
                    <div class="mt-2">
                        <<img src="~/image/odeme/master_card.jpg" />
                        <<img src="~/image/odeme/visa.jpg" />
                        <<img src="~/image/odeme/american_express.jpg" />
                    </div>

                </div><!-- End footer links column-->
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->