  <!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center bg-success p-3">
    <div class="container container-xl d-flex align-items-center justify-content-between">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="logo d-flex align-items-center">
       
        <h1>UpConstruction</h1>
      </a>
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a
                    asp-area=""
                    asp-controller="Home"
                    asp-action="Index"
                    class="active">Home</a></li>
                <li><a href="">Hakkımızda</a></li>
                <li><a
                    asp-area=""
                    asp-controller="Psychologist"
                    asp-action="Index"
                >Psikologlarımız</a></li>
                <li><a href="contact.html">İletişim</a></li>
                @if(User.Identity.IsAuthenticated)
                {
                    if(User.IsInRole("Admin"))
                    {
                        <li><a asp-area="Admin" asp-controller="Home" asp-action="Index"> Admin Paneli</a></li>
                    }
                    <li><a asp-area="" asp-controller="Account" asp-action="Manage" asp-route-username="@User.Identity.Name">Profilim</a></li>
                    <li><a asp-area="" asp-controller="Account" asp-action="Logout">Çıkış Yap</a></li>
                }
                else
                {
                    <li><a href="">Kayıt Ol</a></li>
                    <li><a asp-area="" asp-controller="Account" asp-action="Login">Giriş Yap</a></li>
                } 
            </ul>
        </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->
<!-- ======= Hero Section ======= -->
