@model CategoryPsychologistModel
@{
    ViewData["Title"] = "Ana Sayfa";
}
 <div class="container-fluid ">
     @await Html.PartialAsync("_SliderPartial")
 </div>
<!-- ======= Constructions Section ======= -->
<section id="constructions" class="constructions">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Danışmanlarımız</h2>
            <p>
                Randevu Al' butonuna tıklayarak uzmanlarımızın müsait saatlerini görebilir ve randevu alabilirsiniz.
            </p>
        </div>
        @if(Model.Psychologist.Count()>0)
        {
            <div class="row gy-4">                
                    @foreach(var psychologist in Model.Psychologist)
                    {
                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                     @await Html.PartialAsync("_PsychologistPartial",psychologist)
                    </div>
                    }
            </div><!-- End Card Item -->           
        }
    </div>
</section><!-- End Constructions Section -->
<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Terapiler</h2>
            <p>
                Voluptatem quibusdam ut ullam perferendis repellat non ut consequuntur est eveniet deleniti fignissimos eos
                quam
            </p>
        </div>
        @if(Model.Categories.Count()>0)
        {
            <div class="row gy-4 text-centerx">
                @foreach (var category in Model.Categories)
                {
                    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                        @await Html.PartialAsync("_CategoryPartial",category)
                    </div>
                }
            </div>
        }
        <div class="text-center section-header margintop">
            <h2 >
                <a asp-area="mt-5" asp-controller="Category" asp-action="Index" class="text-white fw-normal bg-success ps-4 pe-4 py-2 fs-4">Tüm Kategoriler</a>
            </h2>
           
        </div>
      
    </div>
</section><!-- End Services Section -->
